ul {
  display: flex;
  list-style-type: none;
  gap: 4%;
  margin: 0;
  height: 6vh;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1;
}

li a {
  text-decoration: none;
  color: white;
}


@media screen and (min-width: 600px) and (max-width: 960px) {
  ul {
    gap: 2%;
  }
}
@media screen and (max-width: 600px) {
  ul {
    gap: 1.5%;
  }
}

