img {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
}

.post-source {
  margin: 1px 0 3px 0;
  font-weight: bold;
  color: #000000bd;
  font-size: 14px;
}


.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #151515e7;
  font-size: 14px;
}